{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/tailwind_output.css' %}">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-10">
        <h1 class="text-4xl font-bold text-center">Simple Django Authentication</h1>
        <div class="flex justify-center mt-10">
            <a href="{% url 'register' %}" class="bg-blue-500 text-white px-4 py-2 rounded mx-2">Register</a>
            <a href="{% url 'login' %}" class="bg-green-500 text-white px-4 py-2 rounded mx-2">Login</a>
            <a href="{% provider_login_url 'github' %}" class="bg-gray-900 text-white px-4 py-2 rounded mx-2">Sign in with GitHub</a>
            <a href="{% provider_login_url 'google' %}" class="bg-red-500 text-white px-4 py-2 rounded mx-2">Sign in with Google</a>
        </div>
    </div>
</body>
</html>